.contenedor{
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}
.item1 {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 5px;
    background-color: aqua;
}
.item2 {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 5px;
    background-color: rgb(255, 30, 0);
}
.item3 {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 5px;
    background-color: rgb(60, 255, 0);
}
